 <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/staff.css">
    <link rel="stylesheet" href="../../../public/css/button.css">
    </head>

    <body>
      <%- include('../includes/navigation.ejs') %>
      <div class="container">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    <form action="/staffs/edit" method="POST" enctype="multipart/form-data">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="/<%= staff.image %>" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= staff.name %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Id</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" readonly class="form-control" name="id" value="<%= staff._id %>">
                    </div>
                  </div> 
                  <hr>                 
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.name %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">doB</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.doB %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">salaryScale</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.salaryScale %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">startDate</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.startDate %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">departmentId</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.departmentId %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">annualLeave</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= staff.annualLeave %>
                    </div>
                  </div> 
                  <hr>   
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Image</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="file" class="" id="image" name="image" />
                      <!-- <input type="text" class="form-control" name="image" value="<%= staff.image %>"> -->
                    </div>
                  </div> 
                  <hr>                                  
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-info ">Save</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    </form>
</div>
            
        </main>
        <%- include('../includes/end.ejs') %>

 
 