<!-- HTML !-->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="container">
            <br>
            <form action="/admin/findMonth/?id=<%= staffId %>" method="POST">
            <div class="form-group row">
                <label for="month" class="col-sm-1 col-form-label">Month</label>
                <div class="col-sm-2">
                  <input type="Number" class="form-control" id="month" name="month" placeholder="Month" value="<%= currentMonth %>">
                </div>
                <div class="col-sm-3">                
                  <button class=" btn btn-primary ">Find By Month</button>
                </div>
              </div>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Date</th>
                    <th scope="col">Workplace</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">Enddate</th>
                    <th scope="col">OverTime</th>
                    <th scope="col">AnnualLeave</th>
                    <th scope="col">AmountOfTime</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (registers.length > 0) { %> 
                        <% for (let i = 0; i < registers.length; i++) { %>
                           <tr>
                            <th scope="row"><%= i + 1 %></th>
                              <td><%= registers[i].date.day %> / <%= registers[i].date.month %> / 2022</td>
                              <td><%= registers[i].startWork %></td>
                              <td><%= registers[i].endWork %></td>
                              <td><%= registers[i].workPlace %></td>
                              <td><%= registers[i].overTime %></td>
                              <td><%= registers[i].annualLeave %></td>
                              <td><%= registers[i].amountOfTime %></td>
                              <td><a href="/admin/delete/?id=<%= registers[i]._id %>&staffId=<%= registers[i].staffId %>" class="btn btn-danger <%= !edit ? 'disabled' : '' %>" >Delete</a></td>
                            </tr>
                        <% } %>
                      <% } %>
                </tbody>
              </table>
              <hr>
              <div><a class="btn btn-primary" href="/admin/confirm/?id=<%= staffId %>">Confirm</a></div>
        </div>
        <%- include('../includes/end.ejs') %>



