<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <br />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Date</th>
              <th scope="col">StartDate</th>
              <th scope="col">EndDate</th>
              <th scope="col">Workplace</th>
            </tr>
          </thead>
          <tbody>
            <div>
              <p>AmountOfTime : <%= amountOfTime %></p>
            </div>
            <br />
          <% if (registers.length > 0) { %> 
            <% for (let i = 0; i < registers.length; i++) { %>
               <tr>
                <th scope="row"><%= i + 1 %></th>
                  <td><%= registers[i].date.day %> / <%= registers[i].date.month %> / 2022</td>
                  <td><%= registers[i].startWork %></td>
                  <td><%= registers[i].endWork %></td>
                  <td><%= registers[i].workPlace %></td>
                </tr>
            <% } %>
          <% } %>
          </tbody>
        </table>
    </div>
    <%- include('../includes/end.ejs') %>